textarea {
    min-height: 400px;
}

li {
  list-style-type: none;
  padding-bottom: 25px;
}

.col-3 {
  float: left;
}

.col-6 {
  float: left;
}

.border-true {
  border-style: solid;
  border-width: 1px;
  background-color: gray;
}

.border-false {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}

.border_top {
  border-top-style: solid;
  border-width: 2px;
  padding-top: 10px;
}
